@import"common.scss";
@import"minxin.scss";
html,
body {
    width: 100%;
    height: 100%;
}

.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    width: 100%;
    height: pxTorem(44px);
    background: red;
}

.section {
    width: 100%;
    flex: 1;
}